/* 웹폰트 설정 */
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/* 전체 폰트 설정 */
body {
    font-family: 'Pretendard-Regular', sans-serif;
}

/* HTML, BODY, 그리고 지도 컨테이너의 높이를 100%로 설정 */
html, body, #map-container {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* 지도의 높이를 100%로 설정 */
#map {
    height: 100%;
}

/* 지도 제목에 대한 스타일 설정 */
#map-title {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 1.5em;
    font-weight: bold;
    color: #000;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 5px;
    border-radius: 5px;
}

/* 정보창 내부에 대한 스타일 설정 */
.iw_inner {
    padding: 10px;
    padding-bottom: 20px; /* 하단 패딩 추가 */
    padding-left: 20px; /* 좌측 패딩 추가 */
    padding-right: 20px; /* 우측 패딩 추가 */
}

/* 정보창 제목에 대한 스타일 설정 */
.iw_inner h3 {
    font-size: 1.5em; /* 폰트 크기 설정 */
    font-weight: 700; /* 폰트 두께 설정 */
    color: #007bff;
    text-align: center; /* 텍스트 가운데 정렬 */
}

/* 레이블과 값에 대한 스타일 설정 */
.iw_inner .label, .iw_inner .value {
    display: inline-block;
    line-height: 1.5; /* 행간 설정 */
}

/* 레이블의 너비 설정 */
.iw_inner .label {
    width: 80px;
}

/* 복사 텍스트에 대한 스타일 설정 */
.iw_inner .copy {
    font-size: 0.8em;
    color: #007bff;
    cursor: pointer;
    margin-left: 5px;
}

/* 화면 너비가 480px 이하일 때 적용할 스타일 */
@media screen and (max-width: 480px) {
    /* 정보창 제목의 폰트 크기를 더 크게 설정 */
    .iw_inner h3 {
        font-size: 2em;
    }

    /* 레이블과 값의 폰트 크기를 더 크게 설정 */
    .iw_inner .label, .iw_inner .value {
        font-size: 1.2em;
    }

    /* 복사 텍스트의 폰트 크기를 더 크게 설정 */
    .iw_inner .copy {
        font-size: 1em;
    }
}
